{% set heroBlock = hero or {} %}
{% set heroImage = heroBlock.image %}
<div class="hero{% if heroImage %} hero--has-media{% endif %}">
  {% if heroImage %}
    <img src="{{ heroImage }}" alt="{{ heroBlock.alt or title }}" class="hero__media" width="1440" height="480" />
  {% endif %}
  <div class="hero__scrim" aria-hidden="true"></div>
  <div class="hero__content">
    <h1 class="hero__title">{{ title }}</h1>
    {% include "tag-chips.njk" %}
  </div>
</div>
