<div class="right-rail">
  <div class="right-rail__section right-rail__section--toc">
    <div class="toc">
      <div class="toc__rail">
        <div class="toc__links"></div>
      </div>
    </div>
  </div>
  <div class="right-rail__section right-rail__section--tips">
    <div class="right-rail__tips" aria-hidden="true">Tips placeholder</div>
  </div>
</div>
